{% extends 'main/index.html' %}

{% block main %}
    <div>
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <h1>Use Case</h1><br>

                    <h3>Пользователь</h2>
                    <img src="https://sun9-16.userapi.com/impg/tklQA_GCP8wdDOU0cK9v4R3ZViSXJ3Z5vp2MgQ/k3vTiqSk_YQ.jpg?size=1312x801&quality=95&sign=56fdb5394382a77ac1419bdf80687018&type=album" style="width:90%; height:90%;">

                    <br><br>
                    <h1>Database schema</h1>
                    <img src="https://sun9-23.userapi.com/impg/Y65-5qeF_LpCxgxAhgAARTMlF3eXa7ccaPUfwg/l1D2Fjwf1Og.jpg?size=1051x783&quality=95&sign=b10dfbeb79591684dadb14ef48bf7364&type=album" style="width:90%; height:90%;">

                </div>
            </div>
        </div>
    </div>

{% endblock %}