{% extends 'main/index.html' %}

{% block main %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    {% if tickets %}
                    <h3 class="box-title">Задачи
                        <a href="{% url 'new' %}" style="color:#2996cc;float:right; margin-right:2rem;">Новая задача</a>
                    </h3>
                    <div class="table-responsive">
                        <table class="table text-nowrap">
                            <thead>
                                <tr>
                                    <th class="border-top-0">#</th>
                                    <th class="border-top-0">Название</th>
                                    <th class="border-top-0">Разработчик</th>
                                    <th class="border-top-0">Приоритет</th>
                                    <th class="border-top-0">Категория</th>
                                    <th class="border-top-0">Статус</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for ticket in tickets %}
                                <tr>
                                    <td><a href="{% url 'ticket' ticket.id %}">{{ticket.id}}</a></td>
                                    <td><a href="{% url 'ticket' ticket.id %}">{{ticket.title}}</a></td>
                                    <td><a href="{% url 'dev_tickets' ticket.developer.pk %}">{{ticket.developer}}</a></td>
                                    <td>{{ticket.priority}}</td>
                                    <td>{{ticket.category}}</td>
                                    <td>{{ticket.status}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% elif ticket %}

                        <br><h3 class="box-title" style="font-size:1.5rem;">{{ticket.title}}</h3><br>
                        <div style="font-size:1.3rem;white-space: pre-wrap;">{{ticket.text}}</div>
                            <br><br><br><br>
                            <h4><strong>Добавил: </strong>{{ticket.author}}</h4>
                            <h4><strong>Назначена: </strong>{{ticket.developer}}</h4>
                            <h4><strong>Приоритет: </strong>{{ticket.priority}}</h4>
                            <h4><strong>Статус:  </strong>{{ticket.status}}</h4>
                            {% if ticket.time < 5 %}
                                <h3 class="box-title">Трудозатраты: {{ticket.time}} часа</h3>
                            {% else %}
                                <h3 class="box-title">Трудозатраты: {{ticket.time}} часов</h3>
                            {% endif %}
                            <form method="post" action="{% url 'ticket' ticket.id %}" id="form_status" class="form-horizontal">
                                {%csrf_token%}<input type="hidden" name="form_type" value="form_status">
                                <div class="mb-3" style="width:20%;">
                                    <div>{{form_status.choice_field}}</div>
                                </div>
                                <div class="mb-3" style="width:20%;">
                                    <div>{{form_status.time}}</div>
                                </div>
                                <button type="submit" class="btn btn-primary">Изменить</button>
                            </form>
                            <br>
                            <h4>Добавлена: {{ticket.created_at}}</h4>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if ticket %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="white-box">
                        {% for note in notes %}
                            <div>
                                <h3>{{ note.dev }} {{ note.created_at }}</h3>
                                <h4>{{ note.text }}</h4>
                            </div><br>
                        {% endfor %}
                        <br><br><br>
                        <form method="post" action="{% url 'ticket' ticket.id %}" id="form_notes" class="form-horizontal">
                            {%csrf_token%}<input type="hidden" name="form_type" value="form_notes">
                            <div class="mb-6" style="width:60%;">
                                {{ form_notes.text }}<br>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary" >Оставить запись</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}